<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>חנות מדומה</title>
</head>
<body>
    <h1>רשימת מוצרים</h1>
    <ul>
        <li><span class="product-name">חלב</span> - <span class="price">5.90</span> ₪</li>
        <li><span class="product-name">לחם</span> - <span class="price">4.50</span> ₪</li>
        <li><span class="product-name">ביצים</span> - <span class="price">12.90</span> ₪</li>
        <li><span class="product-name">קוטג'</span> - <span class="price">6.30</span> ₪</li>
    </ul>
</body>
</html>
